/********************************************
* Custom CSS Styles for Karma Website
*
* @author jhung@cnm.edu
*
********************************************/

.panel {
	padding: 20px;
}

.listing {
	padding: 0;
}

.img-thumbnail {
	margin-right: 10px;
}

li {
	list-style-type:none;
}

/********************************************
* Fixed panel Layout Styles
********************************************/
.side-panel {
	min-height: 50vh;
	max-height: 90vh;
	position: fixed;
	width: 300px;
}