<phpunit>
	<testsuites>
		<testsuite name="Karma Test">
			<file>profile-test.php</file>
			<!--<directory suffix="-test.php">.</directory>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../public_html/php/classes</directory>
		</whitelist>
	</filter>
</phpunit>