#outside .cycle-slideshow {
	width: 300px
}
#prev, #next, .prevControl, .nextControl {
	cursor: pointer;
	font-size: 16px;
	color: #7b787f
}


.modal-header,
.btn-custom {
	background: rgba(54, 53, 58, 0.77);
	color: #FFF;
	/* margin-right: 10px; */
}
.modal-body {
	background: #7b787f;
}
.popover   {
	background-color: #7b787f;
	color: #ecf0f1;
	width: 120px;
}
.popover.right .arrow:after {
	border-right-color: rgba(0, 0, 0, 0.7);
}
.input-group[class*="col-"] {
	padding-right: 15px;
	padding-left: 15px;
}

.popover   {
	background-color: #000000;
	color: #ecf0f1;
	width: 120px;
}
.popover.right .arrow:after {
	border-right-color: #7b787f;
}
.input-group[class*="col-"] {
	padding-right: 15px;
	padding-left: 15px;
}
