
#lastPostsLoader {
	text-align: right;
	width: 920px;
	margin: -125px auto 0 auto;
}




.regularitem {
	margin: 10px;
	padding: 10px;
	width: 960px;
	height: 200px;

	background-image: linear-gradient(left top, rgb(245, 37, 172) 17%, rgb(152, 71, 222) 59%);
	background-image: -o-linear-gradient(left top, rgb(245, 37, 172) 17%, rgb(152, 71, 222) 59%);
	background-image: -moz-linear-gradient(left top, rgb(245, 37, 172) 17%, rgb(152, 71, 222) 59%);
	background-image: -webkit-linear-gradient(left top, rgb(245, 37, 172) 17%, rgb(152, 71, 222) 59%);
	background-image: -ms-linear-gradient(left top, rgb(245, 37, 172) 17%, rgb(152, 71, 222) 59%);

	background-image: -webkit-gradient(
			linear,
			left top,
			right bottom,
			color-stop(0.17, rgb(245, 37, 172)),
			color-stop(0.59, rgb(152, 71, 222))
	);

	-webkit-border-radius: 10px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}